@import './base/vars';
@import './base/base';

* {
	padding: 0;
	margin: 0;
}

body {
	background: $white;
}

.preview {
	padding: 10px;
}
.red {
	background-color: red;
	color: #fff;
	padding: 3px;
}

.success {
	background: #14c39a;
	color: #fff;
}